@import '../../assets/colors.css';

.item {
  box-sizing: border-box;
  border: 1px solid var(--color-dark);
  flex-basis: var(--grid-width);
}

img {
  width: 100%;
}
.spinning {
  justify-content: center;
  margin: auto;
  align-self: center;
  animation: 3.5s spin infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.wrapper {
  display: flex;
  box-sizing: border-box;
  flex-basis: var(--grid-width);
  aspect-ratio: 1 / 1;
}
