@import './assets/colors.css';
html,
body {
  min-height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.content {
  background-color: var(--color-primary);
  width: 70vw;
  flex-grow: 1;
  box-sizing: border-box;
  border-right: 2px solid var(--color-dark);
  border-left: 2px solid var(--color-dark);
}

main {
  display: flex;
  flex-direction: column;
}
