.pokeSelector {
  display: grid;
  grid-template-rows: minmax(500px, 5fr) 1fr;
}

.container {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  flex: 0 0 700px;
  grid-template: repeat(10, 80px) / repeat(10, 80px);
}

.grid div {
  border: 1px solid black;
  box-sizing: border-box;
}

.preview {
  display: flex;
  flex: 1 1 200px;
  flex-direction: column;
}
